* {
    box-sizing: border-box
}

.text-align-center {
    text-align: center;
}

body {
    margin: 0;
    font-family: 'Khand';
    font-size: 22px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    min-height: 50px;
    border: 1px #bfbfbf solid;
    width: 1100px;
    margin: 0 auto;
}

.section h1 {
    margin-bottom: 0;
}

.hero {
    height: 100vh;
    background: linear-gradient(rgba(128, 0, 128, 0.6) 0%, rgba(255, 0, 0, 0.6) 98%), linear-gradient(to right, rgba(128, 0, 128, 0.6) 0%, rgba(255, 255, 0, 0.6) 90%), url(../img/hero.png) center center no-repeat;
    background-size: cover;
}

.hero.full-width {
    width: 100vw;
}

.hero h2 {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: rgba(232, 232, 232, .7);
}

.hero-button {
    padding: 6px;
    background: rgba(93, 93, 93, .69);
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
}

.hero-button:hover {
    background: rgba(185, 185, 185, .69);
}

.lyrics p {
    width: 44vw;
}

.lyrics p + p {
    margin-top: 30px;
}

.lyrics h1 + p {
    margin-top: 30px;
}

.features {
    background-color: #fffef0;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 6px;
    border-radius: 4px;
    background-color: #2d2929;
    padding: 15px;
    line-height: 17px;
    box-shadow: 5px 4px 6px 0 rgba(0, 0, 0, .35);

    transition: all 200ms ease-out;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 5px 4px 6px 0 rgba(0, 0, 0, .65);
    cursor: pointer;
}

.card:hover .title {
    color: #b18972;
}

.card .icon {
    transition: all 250ms ease-out;
    height: 25px;
    color: #8396ff;
}

.card:hover .icon {
    stroke: #e0e4ff;
    stroke-width: 30;
    stroke-opacity: 100%;
}

.card .title {
    margin-top: 10px;
    transition: color 250ms ease-in-out;
    color: white;
    font-size: 20px;
}

.two-col-blocks {
    display: flex;
    height: 450px;
    width: 100%;
    align-items: stretch;
    background-color: #eaeaea;
    border: 2px dotted #d4d4d4;
    border-radius: 5px;
    margin-bottom: 5px;
}

.two-col-blocks .block-text {
    display: flex;
    padding: 20px;
}

.block-img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.block-img > * {
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
}

.block-content h3 {
    text-align: left;
    margin-bottom: 10px;
}

.block-content p {
    margin: 0;
    padding: 0;
}

.two-col-blocks > * {
    width: 50%;
}

.two-col-blocks:nth-child(even) .block-text {
    order: 1;
}

.two-col-blocks:nth-child(even) .block-img {
    order: 2;
}

.two-col-blocks:nth-child(even) .block-content h3 {
    text-align: right;
}

.content .list {
    margin: 0;
    padding: 0;
    list-style: none;
}


.content .list li.red::before {
    color: red!important;
}
.content .list li.blue::before {
    color: blue!important;
}

.content .list.red-all li::before {
    color: red;
}
.content .list.blue-all li::before {
    color: blue;
}







.todolist .two-col-blocks .block-text:first-of-type {
    border-right: 2px dotted #d4d4d4;
}

.todolist .two-col-blocks .block-text.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .list li::before {
    display: inline-block;
    position: relative;
    margin-right: 3px;
    margin-left: 3px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 14px;
    bottom: 3px;
}

.content .list.checked li::before{
    content: '\f00c';
}

.content .list.check-circle li::before{
    content: '\f058';
}

.one-col-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buy-button {
    width: 100px;
    height: 30px;
    font-size: 14px;
    color: white;
    border-color: #de8484;
    background-color: #d05b5b;
    border-radius: 5px;
    box-shadow: 5px 4px 6px #888888;
    cursor: pointer;
}
.buy-button:hover {
    box-shadow: 5px 4px 5px #888888;
}



.image-wrapper {
    position: relative;
    display: inline-block;
    margin: 40px;
}

.image-wrapper.decorated::before,
.image-wrapper.decorated::after {
    position: absolute;
    width: 50px;
    height: 50px;
    content: "";
    background: green;
    z-index: -1;
}

.image-wrapper.decorated::before {
    left: -20px;
    top: -20px;
}

.image-wrapper.decorated::after {
    right: -20px;
    bottom: -20px;
}

.header.fixed {
    position: fixed;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    top: 0;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: rgba(0, 91, 159, 0.73);
}

.header.fixed + .section {
    margin-top: 7000px;
}

.header.fixed ul {
    margin: 0;
    padding: 0;
}

.header.fixed li {
    display: inline-block;
    margin: 3px;
}



